:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --header-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --text-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
    --header-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --text-color: #353430;
  }
}

.theme-light .header__dark-mode_decoration {
  display: none;
}
