.page {
  width: 100%;
  background-color: var(--bg-color);
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  width: 100%;
  justify-items: end;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  padding: 0 10px;
}

.header__dark-mode_decoration {
  position: absolute;
  padding: 10px 28px;
  font-family: var(--main-font-family), sans-serif;
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: var(--font-size-normal);
  line-height: 25px;
}

.header__dark-mode_decoration::after {
  background-color: var(--decoration-color);
  content: '';
  height: 9px;
  width: 9px;
  position: absolute;
  border-radius: 50%;
  top: 18px;
  right: 10px;
  box-shadow: 0px 0px 4px 2px var(--decoration-color);
}

.decorated-zone::after {
  position: absolute;
  content: '';
  align-self: end;
  width: 25px;
  height: 25px;
  left: 10px;
  margin-bottom: 10px;
  border-left: 1px solid var(--decoration-color);
  border-bottom: 1px solid var(--decoration-color);
}

.decorated-zone::before {
  position: absolute;
  content: '';
  align-self: start;
  width: 25px;
  height: 25px;
  right: 10px;
  margin-top: 10px;
  border-right: 1px solid var(--decoration-color);
  border-top: 1px solid var(--decoration-color);
}

.header__theme-menu {
  display: grid;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  background: none;
  text-transform: lowercase;
  line-height: var(--line-height-normal);
  color: var(--decoration-color);
  border: none;
  padding: 1.5px 13px;
}

.header__theme-menu-button:disabled {
  border: 1px solid var(--decoration-color);
}

.header__theme-menu-button:hover {
  border: 0.5px solid var(--decoration-color);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  border: none;
  outline: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__text-title {
  align-self: center;
  justify-self: left;
  font-size: var(--h1-font-size);
  line-height: 82.5%;
  color: var(--header-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text-paragraph {
  grid-row-start: 3;
  align-self: center;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
  justify-self: end;
  min-height: 71px;
  max-width: 355px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-accent-color);
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.main__section {
  display: grid;
  gap: 20px;
  width: 100%;
}

.main__section-tablet {
  display: grid;
  gap: 20px;
}

.main__section_paragraph-list {
  display: grid;
  gap: 20px;
}

.main__section-header {
  color: var(--section-header-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
}

.main__section-paragraph {
  display: grid;
  gap: 10px;
}

.main__section-paragraph__text {
  color: var(--text-color);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
}

.main__section-paragraph__text-link {
  text-shadow: 1px 1px 0 var(--accent-color);
  text-decoration: none;
}

.main__section-paragraph__text-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main__section-paragraph__text-link:focus {
  outline: 1px solid var(--text-color);
}

.main__section-paragraph__header {
  font-weight: normal;
}

.main__section-gallery {
  width: 100%;
  display: grid;
  gap: 10px;
}

.main__section-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 0 13px;
}

.footer__heading {
  color: var(--header-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-size: var(--h1-font-size);
}

@media (min-width: 768px) {

  .body {
    margin:
  }

  .header__text-title {
    margin: 0;
  }

  .header__dark-mode_decoration {
    padding-top: 20px;
  }

  .header__dark-mode_decoration::after {
    top: 28px;
  }

  .decorated-zone::after {
    margin-bottom: 20px;
  }

  .decorated-zone::before {
    margin-top: 20px;
  }

  .header__text-title {
    font-size: var(--h1-font-size-big-screen);
  }

  .main__section-tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  .main__section-tablet .main__section_paragraph-list {
    grid-column: 2 / 4;
  }

  .main__section-desktop .main__section-header {
    max-width: 20%;
  }

  .header__text-paragraph {
    max-width: 50vw;
  }

  .main_section .main__section-gallery {
    max-height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
  .main__section-gallery__image:nth-child(1) {
    grid-column: span 2;
    grid-row: 1;
  }
  .main__section-gallery__image:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / span 2;
  }
  .main__section-gallery__image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }
  .main__section-gallery__image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }
  .main__section-gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4 ;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
    padding-top: 20px;
  }
  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .main__section-desktop .main__section_paragraph-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    grid-auto-rows: auto;
  }
  .main__section-paragraph {
    grid-template-rows: 24px;
  }

  .main__section-desktop .main__section-header {
    max-width: 30%;
  }
}